:root{
    --lateral-pane-width: 8rem;
}

body{
    font-family: "Open sans",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: #1d1d1d;
}

body > main{
    margin-left:var(--lateral-pane-width);
}


.button-container-1{
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 60px 0 0 70px;
  }
  
  